@import "settings";

$socialFontFileName: "../fonts/social_foundicons";
$socialFontName: "SocialFoundicons";
$socialClassPrefix: "social-foundicon-";

/* font-face */
@include face($socialFontName, $socialFontFileName);

/* global foundicon styles */
[class*="#{$socialClassPrefix}"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}
[class*="#{$socialClassPrefix}"]:before { 
  font-family: $socialFontName;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

/* icons */
@include i-class(thumb-up,"000",$socialClassPrefix);
@include i-class(thumb-down,"001",$socialClassPrefix);
@include i-class(rss,"002",$socialClassPrefix);
@include i-class(facebook,"003",$socialClassPrefix);
@include i-class(twitter,"004",$socialClassPrefix);
@include i-class(pinterest,"005",$socialClassPrefix);
@include i-class(github,"006",$socialClassPrefix);
@include i-class(path,"007",$socialClassPrefix);
@include i-class(linkedin,"008",$socialClassPrefix);
@include i-class(dribbble,"009",$socialClassPrefix);
@include i-class(stumble-upon,"00a",$socialClassPrefix);
@include i-class(behance,"00b",$socialClassPrefix);
@include i-class(reddit,"00c",$socialClassPrefix);
@include i-class(google-plus,"00d",$socialClassPrefix);
@include i-class(youtube,"00e",$socialClassPrefix);
@include i-class(vimeo,"00f",$socialClassPrefix);
@include i-class(flickr,"010",$socialClassPrefix);
@include i-class(slideshare,"011",$socialClassPrefix);
@include i-class(picassa,"012",$socialClassPrefix);
@include i-class(skype,"013",$socialClassPrefix);
@include i-class(steam,"014",$socialClassPrefix);
@include i-class(instagram,"015",$socialClassPrefix);
@include i-class(foursquare,"016",$socialClassPrefix);
@include i-class(delicious,"017",$socialClassPrefix);
@include i-class(chat,"018",$socialClassPrefix);
@include i-class(torso,"019",$socialClassPrefix);
@include i-class(tumblr,"01a",$socialClassPrefix);
@include i-class(video-chat,"01b",$socialClassPrefix);
@include i-class(digg,"01c",$socialClassPrefix);
@include i-class(wordpress,"01d",$socialClassPrefix);
