// Import fonts
@import url(http://fonts.googleapis.com/css?family=Varela+Round);

// logo
$logo-font-family: 'Varela Round', sans-serif;
$logo-font-weight: 400;
$logo-font-size: 0.5em;
.name {
	font-family: $logo-font-family;
	font-weight: $logo-font-weight;
	font-size: $logo-font-size;
}

// slider
#featured > img {
	width:100%;
} 