@import url(http://fonts.googleapis.com/css?family=Varela+Round);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/* line 10, ../sass/site/_settings.scss */
.name {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-size: 1em;
  background-color: #4ddec2;
}

/* line 17, ../sass/site/_settings.scss */
body {
  background-color: #4ddec2;
  height: 100%;
}

/* line 24, ../sass/site/_settings.scss */
#featured > img {
  width: 100%;
}

/* line 28, ../sass/site/_settings.scss */
#layout-services {
  text-align: center;
}

/* line 32, ../sass/site/_settings.scss */
#layout-contact {
  background-color: #CF875F;
}

/* line 36, ../sass/site/_settings.scss */
footer {
  background-color: #363b48;
}

/* line 40, ../sass/site/_settings.scss */
#layout-social-links {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

/* line 47, ../sass/site/_settings.scss */
.general-foundicon-idea,
.general-foundicon-website,
.general-foundicon-people {
  font-size: 10.0em;
  color: #4ddec2;
  text-align: center;
  color: #4ddec2;
}

/* line 54, ../sass/site/_settings.scss */
.general-foundicon-idea {
  color: #EFC94C;
}

/* line 58, ../sass/site/_settings.scss */
.general-foundicon-website {
  color: #EB5055;
}

/* line 62, ../sass/site/_settings.scss */
.general-foundicon-people {
  color: #4ddec2;
}

/* line 69, ../sass/site/_settings.scss */
.social-foundicon-facebook,
.social-foundicon-twitter,
.social-foundicon-github,
.social-foundicon-linkedin {
  font-size: 3.0em;
}

/* line 73, ../sass/site/_settings.scss */
#intro h1 {
  color: #ffffff;
}

/* line 76, ../sass/site/_settings.scss */
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

/* line 84, ../sass/site/_settings.scss */
.centered-low {
  position: relative;
  top: 50%;
  left: 50%;
}

/* font-face */
@font-face {
  font-family: "GeneralFoundicons";
  src: url("../fonts/general_foundicons.eot");
  src: url("../fonts/general_foundicons.eot?#iefix") format("embedded-opentype"), url("../fonts/general_foundicons.woff") format("woff"), url("../fonts/general_foundicons.ttf") format("truetype"), url("../fonts/general_foundicons.svg#GeneralFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global foundicon styles */
/* line 11, ../sass/general_foundicons.scss */
[class*="general-foundicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

/* line 21, ../sass/general_foundicons.scss */
[class*="general-foundicon-"]:before {
  font-family: "GeneralFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

/* icons */
/* line 1334, ../sass/_settings.scss */
.general-foundicon-settings:before {
  content: "\f000";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-heart:before {
  content: "\f001";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-star:before {
  content: "\f002";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-plus:before {
  content: "\f003";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-minus:before {
  content: "\f004";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-checkmark:before {
  content: "\f005";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-remove:before {
  content: "\f006";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-mail:before {
  content: "\f007";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-calendar:before {
  content: "\f008";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-page:before {
  content: "\f009";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-tools:before {
  content: "\f00a";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-globe:before {
  content: "\f00b";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-home:before {
  content: "\f00c";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-quote:before {
  content: "\f00d";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-people:before {
  content: "\f00e";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-monitor:before {
  content: "\f00f";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-laptop:before {
  content: "\f010";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-phone:before {
  content: "\f011";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-cloud:before {
  content: "\f012";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-error:before {
  content: "\f013";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-right-arrow:before {
  content: "\f014";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-left-arrow:before {
  content: "\f015";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-up-arrow:before {
  content: "\f016";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-down-arrow:before {
  content: "\f017";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-trash:before {
  content: "\f018";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-add-doc:before {
  content: "\f019";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-edit:before {
  content: "\f01a";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-lock:before {
  content: "\f01b";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-unlock:before {
  content: "\f01c";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-refresh:before {
  content: "\f01d";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-paper-clip:before {
  content: "\f01e";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-video:before {
  content: "\f01f";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-photo:before {
  content: "\f020";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-graph:before {
  content: "\f021";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-idea:before {
  content: "\f022";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-mic:before {
  content: "\f023";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-cart:before {
  content: "\f024";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-address-book:before {
  content: "\f025";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-compass:before {
  content: "\f026";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-flag:before {
  content: "\f027";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-location:before {
  content: "\f028";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-clock:before {
  content: "\f029";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-folder:before {
  content: "\f02a";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-inbox:before {
  content: "\f02b";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-website:before {
  content: "\f02c";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-smiley:before {
  content: "\f02d";
}

/* line 1334, ../sass/_settings.scss */
.general-foundicon-search:before {
  content: "\f02e";
}
