@import url(http://fonts.googleapis.com/css?family=Varela+Round);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/* line 10, ../sass/site/_settings.scss */
.name {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-size: 1em;
  background-color: #4ddec2;
}

/* line 17, ../sass/site/_settings.scss */
body {
  background-color: #4ddec2;
  height: 100%;
}

/* line 24, ../sass/site/_settings.scss */
#featured > img {
  width: 100%;
}

/* line 28, ../sass/site/_settings.scss */
#layout-services {
  text-align: center;
}

/* line 32, ../sass/site/_settings.scss */
#layout-contact {
  background-color: #CF875F;
}

/* line 36, ../sass/site/_settings.scss */
footer {
  background-color: #363b48;
}

/* line 40, ../sass/site/_settings.scss */
#layout-social-links {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

/* line 47, ../sass/site/_settings.scss */
.general-foundicon-idea,
.general-foundicon-website,
.general-foundicon-people {
  font-size: 10.0em;
  color: #4ddec2;
  text-align: center;
  color: #4ddec2;
}

/* line 54, ../sass/site/_settings.scss */
.general-foundicon-idea {
  color: #EFC94C;
}

/* line 58, ../sass/site/_settings.scss */
.general-foundicon-website {
  color: #EB5055;
}

/* line 62, ../sass/site/_settings.scss */
.general-foundicon-people {
  color: #4ddec2;
}

/* line 69, ../sass/site/_settings.scss */
.social-foundicon-facebook,
.social-foundicon-twitter,
.social-foundicon-github,
.social-foundicon-linkedin {
  font-size: 3.0em;
}

/* line 73, ../sass/site/_settings.scss */
#intro h1 {
  color: #ffffff;
}

/* line 76, ../sass/site/_settings.scss */
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

/* line 84, ../sass/site/_settings.scss */
.centered-low {
  position: relative;
  top: 50%;
  left: 50%;
}

/* font-face */
@font-face {
  font-family: "SocialFoundicons";
  src: url("../fonts/social_foundicons.eot");
  src: url("../fonts/social_foundicons.eot?#iefix") format("embedded-opentype"), url("../fonts/social_foundicons.woff") format("woff"), url("../fonts/social_foundicons.ttf") format("truetype"), url("../fonts/social_foundicons.svg#SocialFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global foundicon styles */
/* line 11, ../sass/social_foundicons.scss */
[class*="social-foundicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

/* line 21, ../sass/social_foundicons.scss */
[class*="social-foundicon-"]:before {
  font-family: "SocialFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

/* icons */
/* line 1334, ../sass/_settings.scss */
.social-foundicon-thumb-up:before {
  content: "\f000";
}

/* line 1334, ../sass/_settings.scss */
.social-foundicon-thumb-down:before {
  content: "\f001";
}

/* line 1334, ../sass/_settings.scss */
.social-foundicon-rss:before {
  content: "\f002";
}

/* line 1334, ../sass/_settings.scss */
.social-foundicon-facebook:before {
  content: "\f003";
}

/* line 1334, ../sass/_settings.scss */
.social-foundicon-twitter:before {
  content: "\f004";
}

/* line 1334, ../sass/_settings.scss */
.social-foundicon-pinterest:before {
  content: "\f005";
}

/* line 1334, ../sass/_settings.scss */
.social-foundicon-github:before {
  content: "\f006";
}

/* line 1334, ../sass/_settings.scss */
.social-foundicon-path:before {
  content: "\f007";
}

/* line 1334, ../sass/_settings.scss */
.social-foundicon-linkedin:before {
  content: "\f008";
}

/* line 1334, ../sass/_settings.scss */
.social-foundicon-dribbble:before {
  content: "\f009";
}

/* line 1334, ../sass/_settings.scss */
.social-foundicon-stumble-upon:before {
  content: "\f00a";
}

/* line 1334, ../sass/_settings.scss */
.social-foundicon-behance:before {
  content: "\f00b";
}

/* line 1334, ../sass/_settings.scss */
.social-foundicon-reddit:before {
  content: "\f00c";
}

/* line 1334, ../sass/_settings.scss */
.social-foundicon-google-plus:before {
  content: "\f00d";
}

/* line 1334, ../sass/_settings.scss */
.social-foundicon-youtube:before {
  content: "\f00e";
}

/* line 1334, ../sass/_settings.scss */
.social-foundicon-vimeo:before {
  content: "\f00f";
}

/* line 1334, ../sass/_settings.scss */
.social-foundicon-flickr:before {
  content: "\f010";
}

/* line 1334, ../sass/_settings.scss */
.social-foundicon-slideshare:before {
  content: "\f011";
}

/* line 1334, ../sass/_settings.scss */
.social-foundicon-picassa:before {
  content: "\f012";
}

/* line 1334, ../sass/_settings.scss */
.social-foundicon-skype:before {
  content: "\f013";
}

/* line 1334, ../sass/_settings.scss */
.social-foundicon-steam:before {
  content: "\f014";
}

/* line 1334, ../sass/_settings.scss */
.social-foundicon-instagram:before {
  content: "\f015";
}

/* line 1334, ../sass/_settings.scss */
.social-foundicon-foursquare:before {
  content: "\f016";
}

/* line 1334, ../sass/_settings.scss */
.social-foundicon-delicious:before {
  content: "\f017";
}

/* line 1334, ../sass/_settings.scss */
.social-foundicon-chat:before {
  content: "\f018";
}

/* line 1334, ../sass/_settings.scss */
.social-foundicon-torso:before {
  content: "\f019";
}

/* line 1334, ../sass/_settings.scss */
.social-foundicon-tumblr:before {
  content: "\f01a";
}

/* line 1334, ../sass/_settings.scss */
.social-foundicon-video-chat:before {
  content: "\f01b";
}

/* line 1334, ../sass/_settings.scss */
.social-foundicon-digg:before {
  content: "\f01c";
}

/* line 1334, ../sass/_settings.scss */
.social-foundicon-wordpress:before {
  content: "\f01d";
}
